.linkMenuHead {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .headIconSpace {
    margin-left: -15px;
  }
  
  a {
    display: inline-block;
    text-align: center;
    padding: 25px; /* Adjust padding to manage spacing */
    text-decoration: none;
    font-size: 20px; /* 这里设置字体大小 */
    font-weight: bold; /* 这里设置文字加粗 */
    &:hover {
      color: pink;
    }
  }
}
