.paper {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}

.paper-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.paper-name {
  font-size: 23px;
  padding-top: 15px;
  flex: 1;
}

.paper-name:hover{
  color: pink;
}

.paper-info {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 15px;
}